* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;
}

.header-nav,
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
    padding: 12px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    margin: 56px 0;
    flex: 1;
    gap: 16px;
    max-width: 700px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 4px 18px;
    border-style: none;
    border-radius: 8px;
    font-weight: bold;
}

img {
    height: auto;
    width: 260px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 48px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.info-content-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-basis: 120px;
}

.info-content-box div {
    text-align: center;
}

.box {
    flex-basis: 120px;
    border: 2px solid #3882f6;
    border-radius: 12px;
}